% Configuration file for Tsim toolbox
%
% Last modified: 2020-03-24 10:10:00

[FitFigureAppearance]
residuum = off
residuumxticks = on
residuumyticks = on
yticks = off
ylabel = on
xticks = on
xlabel = on

[SimFigureAppearance]
yticks = off
ylabel = off
xticks = on
xlabel = on

[FigureColorDef]
simlinecolor = 0                   0.86                    0.5
explinecolor = 0                      0                      0
zerolinecolor = 0.5                    0.5                    0.5
residuumlinecolor = 0                      0                      1

[FigureLineWidthDef]
simlinewidth = 1
explinewidth = 1
residuumlinewidth = 1
zerolinewidth = 1

[FigureLineStyleDef]
simlinestyle = -
explinestyle = -
residuumlinestyle = -
zerolinestyle = --

[FigureAxesLabelDef]
xlabel = {\it magnetic field} / mT
ylabel = {\it intensity} / a.u.

[Axis]
Position = [1.5, 2.15, 16.5, 12]

[Legend]
legend = on
location = SouthEast
data = Experimental
sim = Simulation
