% Configuration file for Tsim toolbox
%
% Last modified: 2015-06-09 13:24:48

[StandardSimulationParameters]
gx = 2.002
gy = 2.002
gz = 2.002
D = 600
E = 150
p1 = 0.35
p2 = 0.36
p3 = 0.29
lwGauss = 2
lwLorentz = 2
mwFreq = 9.7
nPoints = 326
Range = 280 410

[AdditionalSimulationParameters]
phi = 2
theta = 2 
sigma = 0.6 
DeltaB = 0.2

[FitparametersAndBoundaries]
DeltaB = -0.1                    0.3
lwGauss =   0                7
lwLorentz = 0                7


[FitOptions]
MaximumIteration = 400
MaximumFunctionEvaluation = 1000
TerminationTolerance = 1e-10
